@media (min-width:1200px) {
    .hiddenButton {
        display: none;
    }
}

@media (max-width:1199px) {
    .hiddenButton {
        display: none;
    }

    /* .graphic{
        padding-top: 40px;
        left:95px;
        top:28%;
    } */
    .testimonials .container {
        width: 930px;
    }

    .reviews {
        width: 18rem;
    }

    .hiddenButton {
        display: none;
    }
}

@media (max-width:991px) {

    .hiddenButton {
        display: block;
        width: 20px;
        height: 20px;
        background-color: transparent;
    }

    .main-header .navbar,
    .contact {
        display: none;
    }

    .learnMore {
        display: block;
        padding-bottom: 30px;
    }

    .sub-title {
        margin-top: 25px;
    }

    .transform {
        margin-left: 20px;
        margin-right: 20px;
    }

    .extra-text {
        line-height: 18px;
    }

    .extra-title {
        margin-bottom: 0;
    }

    .reviews {
        width: 14rem;
    }

    .testimonials .container {
        width: 750px;
    }
}

@media (max-width:767px) {
    .main-title {
        font-size: 35px;
        letter-spacing: 4.75px
    }

    .arrow {
        top: 280px;
    }

    .col1 {
        width: 100%;
    }

    .brand {
        flex-direction: column;
    }

    .egg {
        order: -1;
    }

    .testimonials .row {
        flex-direction: column;
        align-items: center;
    }

    .testimonials {
        padding-top: 65px;
        padding-bottom: 65px;
    }

    .testimonials .container {
        width: 530px;
    }

    .col2 {
        width: 98%;
    }

    .reviews {
        width: 100%;
        margin-bottom: 0;
    }

    .clients {
        padding-top: 40px;
    }

    .extra-text {
        font-size: 22px;
        line-height: 24px;
    }

    .extra-title {
        font-size: 40px;
    }
}


@media (max-width:565px) {
    .main-title {
        font-size: 30px;
    }

    .col2 {
        width: 65%;
    }

    .trasnform {
        text-align: center;
    }

    .pictures .row {
        flex-wrap: wrap;
    }

    .pictures img {
        width: 50%;
    }

    .col1 {
        text-align: center;
    }

    .reviews {
        margin: 0;
    }

    .clients {
        margin-top: 75px;
    }

    .name {
        margin-bottom: 0;
    }

    .extra-text {
        font-size: 18px;
        line-height: 16px;
    }
}


@media (max-width:480px) {

    .hiddenButton img {
        height: 20px;
        margin-top: -4px;
    }

    .main-header .logo {
        width: 120px;
    }

    .main-header {
        padding-bottom: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .arrow {
        left: 45%;
    }

    .extra-text {
        line-height: 24px;
        font-size: 13px;
    }

    .extra-title {
        font-size: 22px;
        line-height: 24px;
    }

    .sub-title {
        font-size: 35px;
        line-height: 35px;
    }

    .brand-text {
        font-size: 15px;
        line-height: 25px;
    }

    .main-title {
        font-size: 40px;
    }

    .testimonials .container {
        width: 320px;
    }

    .reviews {
        line-height: 20px;
        margin-bottom: 15px;
        font-size: 14px;
    }

    .clients {
        padding-top: 50px;
    }

    .position {
        line-height: 10px;
    }

    .testimonial-title {
        padding-bottom: 10px;
        font-size: 19px;
        letter-spacing: 4px;
    }

    .name {
        margin: 5px;
    }

    .main-title {
        line-height: 38px;
    }

}

@media (max-width:300px) {

    .testimonials .container {
        width: 270px;
    }
}